.join-section {
    background: url(images/JoinUsCover.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    color: #1B3C0B;
    font-family: "Poppins", sans-serif;
    padding-right: 100px;
}


.join-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.join-content h1 span {
    color: #24826e; /* same main color as site */
}

.join-content p {
    font-size: 22px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.registerButton {
    width: 250px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.registerButton:hover {
    transform: scale(1.05);
}
