:root {
    --maincolor: #557055;
    --secondcolor: #f8a803;
    --thirdcolor: #f4ab01;
    --textcolor: #4a5764;
    --fourthcolor: #1B3C0B;
}

body {
  background: linear-gradient(90deg, rgb(200, 213, 206) 0%, rgb(118, 172, 134) 100%, rgb(176, 217, 191) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.form-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 430px; 
  box-sizing: border-box;
}
.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.progress-step {
  width: 30%;
  height: 8px;
  border-radius: 4px;
  background: #d3d3d3;
}
.progress-step.active {
  background: #54a85e;
}
.form-step {
  display: none;
}
.form-step.active {
  display: block;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button {
  background: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
input, select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.Registration-Text{
  padding-bottom: 0.3rem;
  text-align: center;
  font-size: 12px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.form-step h3{

  font-size: 16px;
}

